<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world!</p>
        <a href="/campgrounds/new"><button class="btn-lg btn-green">Add New Campground</button></a>
    </header>
        
        <div class="row popular">
            <h3>Our most popular Campgrounds!</h3>
        </div>
        <div class="row">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-sm-12 col-md-6 col-lg-4 campground">
                    <div class="thumbnails">
                        <img src="<%= campground.image %>" class="camp-pic">
                        <div class="caption">
                            <h5><%= campground.name %></h5>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id %>">
                                <button class="btn-sm btn-green">More Info</button>
                            </a> 
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
</div>
<% include ../partials/footer %> 
